<div class="container">

	<h1> Learn more about TDE Apprenticeship </h1>
	<p> Our web development apprenticeship program exists to transform people’s lives by empowering those who do not have the typical background for entering tech to launch new careers in that field. </p>
   <br>

<div class="about-box wow animated fadeInDown" data-wow-duration="0.3s">
		<div class="about-box-icon">
			<i class="fa fa-sitemap"></i>
		</div>
		<div class="about-box-text">
			<h5>Real Projects</h5>
			<br>
			<div class="about-box-icon">
				<i class="fa fa-users"></i>
			</div>
			<div class="about-box-text">
				<h5>Real Development Teams</h5>
				<br>
				<div class="about-box-icon">
					<i class="fa fa-id-badge"></i>
				</div>
				<div class="about-box-text">
					<h5>Real Results</h5>
				</div>
			</div>
		</div>
	</div>
   
	<h4>Our program:</h4>
	<ul>
		<li>17 weeks or less, Part-time, Volunteeer apprenticeship</li>
		<li>Real life team development experience</li>
		<li>Led by professional developers and product management team</li>
		<li>Solve real business problems by building something that matters</li>
	</ul>
	<br>
	<h4>Eligible Candidates</h4>
	<ul>
		<li>Already know how to code... attended a bootcamp, online course, self-taught</li>
		<li>Are NOT currently enrolled in any academic courses</li>
		<li>Are able to volunteer at least 15 hours per week (9 hours onsite) </li>
		<li>Live in the Chicagoland area</li>
		<li>Are actively looking for a full-time develoment job</li>
	</ul>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>Ready to Apply?</h1>
				<%= link_to "Attend an Info Session", "https://www.eventbrite.com/o/the-difference-engine-14522851286", :target => "_blank", class:"btn btn-lg btn-theme-color wow animated bounceIn" %>
			</div>
		</div>
	</div>
	<br>
	
</div>
